<ion-view view-title="Playlists" hide-back-button="true" hide-nav-bar="true">
	<ion-footer-bar align-title="left" style="padding:0px; margin:0px; height:40px;">
       <img src="img/footer.png" style="width:100%" />
    </ion-footer-bar>
    
  <ion-content style="overflow:hidden">
  	<div class="background">
    	<img src="img/background.png" style="height:100%" />
    </div>
    <div ng-if="ShowDetails == 0" class="centerDiv" align="center">
            <div style="width:60%; padding-top:15px;">
                <img src="img/p2_head.png" style="width:100%" />
            </div>
            <div style="width:20%; padding-top:0px;">
                <div style="position:absolute; height:55px;">
                	<input type="number" id="day" oninput="if(value.length>3)value=value.slice(0,3)" class="InputText" ng-model="fields.day" ng-keypress="enterPress($event)" />
                </div>
                <img src="img/input.png" style="width:100%" />
            </div>
            <div style="width:60%; padding-top:0px;">
                <img src="img/p2_s2.png" style="width:100%" />
            </div>
             <div style="width:20%; padding-top:0px;">
             	<div style="position:absolute; height:55px;">
                	<input type="number" id="pay" oninput="if(value.length>3)value=value.slice(0,3)" class="InputText" ng-model="fields.pay" ng-keypress="enterPress($event)" />
                </div>
                <img src="img/input.png" style="width:100%" />
            </div>
             <div style="width:30%; padding-top:0px;" ng-click="startAnimation()">
                <img src="img/ok_btn.png" style="width:100%" />
            </div>
             <div style="width:60%; padding-top:35px;">
                <img src="img/p2_s3.png" style="width:100%" />
            </div>
    </div>
    
    <div ng-if="ShowDetails == 1" class="centerDiv" style="padding-top:150px;" align="center">
    		 <div style="width:60%; padding-top:35px;">
                <img src="{{CurrentIcon}}" style="width:100%" />
            </div>
    </div>
    
    <div class="boxes">
    	
    </div>
  </ion-content>
</ion-view>
