<ion-view view-title="Playlists" hide-back-button="true" hide-nav-bar="true" cache-view="false">
  
   <ion-footer-bar align-title="left" style="padding:0px; margin:0px; height:40px;">
       <img ng-if="Package == 0" src="img/new/f2.jpg" style="width:100%" />
	   <img ng-if="Package == 1" src="img/new/footer2.png" style="width:100%" />
	   <img ng-if="Package == 2" src="img/new/footer2.png" style="width:100%" />
    </ion-footer-bar>
    
    
  <ion-content style="overflow:hidden">
  	<div class="background">
    	<img src="{{pageBackground}}" style="width:100%" />
    </div>

    <div class="centerDiv" align="center">
			<div class="sideLogo">
            	<img ng-if="Package == 1 " src="img/new/dun_logo.png" style="width:100%" />
            </div>

            <div style=" padding-top:115px;">
				<div class="PackageForm" align="center">
					<div class="PackageFormDiv">
						<input type="text" class="PackageFormText" placeholder="שם"  ng-model="fields.name" >
						<input type="tel" class="PackageFormText" style="margin-top:10px; height:36px;" placeholder='טלפון'  ng-model="fields.phone" >
						<input type="email" class="PackageFormText" style="margin-top:10px; height:36px;" placeholder='דו"אל'  ng-model="fields.mail" >
						<input type="text" class="PackageFormText" style="margin-top:10px; height:36px;" placeholder='כתובת'  ng-model="fields.address" >

						<div class="itemCombo" class="PackageFormText" style="width:100%; margin-top:10px; text-align:right !important; ">

                            <div class="item item-select" style="direction:rtl !important; border-radius:5px;">
                                    <select ng-model="fields.sex" >
                                    <option value="" selected>בחר/י מין</option>
                                      <option value="זכר" >זכר</option>
                                      <option value="נקבה" >נקבה</option>
                                    </select>
                            </div>
						</div>

						<div class="itemCombo" style="width:100%; margin-top:10px; direction:rtl; text-align:right !important;  border-radius:10px; ">

						<!--
						<div class="item item-select" style="direction:rtl !important; border-radius:5px;">
								<select ng-model="fields.favorite" >
								<option value="" style="direction:rtl !important;" selected >מה התחביב שלך?</option>
								  <option value="מוזיקה" >מוזיקה</option>
								  <option value="קריאה" >קריאה</option>
								  <option value="ספורט" >ספורט</option>
								  <option value="קולנוע" >קולנוע</option>
								  <option value="מכוניות" >מכוניות</option>
								  <option value="אחר" >אחר</option>

								</select>
						</div>
						-->

						</div>
						<div class="itemCombo" style="width:100%; margin-top:10px; direction:rtl; text-align:right !important; ">


						<div class="item item-select" style="direction:rtl !important; border-radius:5px;">
								<select ng-model="fields.brand" >
								  <option value="" style="direction:rtl !important;" selected>איזה מותג סיגריות את/ה מעשנ/ת?</option>
								  <option value="Winston" >Winston</option>
								  <option value="Parliament" ng-if="Package != 2">Parliament</option>
								  <option value="LM" >LM</option>
								  <!-- <option value="Kent" >Kent</option> -->
								  <option value="Bali Shag" >Bali Shag</option>
								  <option value="Camel" >Camel</option>
								  <option value="Next" >Next</option>
								  <option value="Golf" ng-if="Package != 2">Golf</option>
								  <option value="Time" ng-if="Package != 2">Time</option>
								  <!-- <option value="Lucky Strike" >Lucky Strike</option> -->
								  <option value="נובלס"  ng-if="Package != 2">נובלס</option>
								  <option value="Marlboro" >Marlboro</option>

								  <option value="Chesterfield" ng-if="Package == 2">Chesterfield</option>
								  <option value="American Spirit" ng-if="Package == 2">American Spirit</option>
								  <option value="Drum" ng-if="Package == 2">Drum</option>

								  <option value="Other" >Other</option>

								</select>
						</div>
						</div>

					 <label class=" item item-input" style="text-align:right; margin-top:10px; width:100%; height:40px; border-radius:5px; padding-top:0px !important">
							<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')"  placeholder="תאריך לידה"  class="dateInput" ng-model="fields.birthdate" style="width:100%; margin-top:0px; padding-left:40px !important; color:#666 !important; padding-top:5px !important" >
					</label>


						<div style="margin-top:20px;">
							<span style="font-size:20px; color:#fff;">המשתתפ/ת מסכימ/ת שהחברה תשתמש בפרטי הקשר לצרכי שיווק</span>
							<i ng-if="!fields.agree" class="ion-ios-circle-outline" style="font-size:30px; color:#fff;" ng-click="agreeTerms(true)" ></i>
							<i ng-if="fields.agree" class="ion-ios-checkmark-outline" style="font-size:30px; color:#fff;" ng-click="agreeTerms(false)" ></i>
						</div>


				</div>


				</div>




            </div>
             <div style="width:8%; padding-top:15px;" ng-click="goWin()">
                <img  ng-if="Package == 0" src="img/new/n1.jpg" style="width:100%" />
                <img  ng-if="Package == 1" src="img/new/n2.jpg" style="width:100%" />
				<img  ng-if="Package == 2" src="img/new/n2.jpg" style="width:100%" />
            </div>

    </div>
  </ion-content>
</ion-view>
