<ion-view view-title="{{CustomerName}}">
  
  <div class="bar bar-footer" style="height:60px;">
  	<table class="singleFooter">
            	<tr align="center">
                	<td class="singleFooterTD">
                    	Open Issues
                    </td>
                    <td class="singleFooterTD">
                    	Contacts
                    </td>
                    <td class="singleFooterTDSelected">
                    	Products
                    </td>
                    <td class="singleFooterTD">
                    	Interaction
                    </td>
                </tr>
       </table>
  </div>
  
  <ion-content class="singleContent">
    	<div class="escalations">
        	<h3>Escalations(0)</h3>
            <h4>No escalations found</h4>
        </div>
        
        <div class="Crs">
        	<h3>CRs(6)</h3>
            <h4>ALM11.52 | UTF11.53 | ALM12.5{{}}</h4>
        </div>
        
        <div class="Crs">
        	<h3>ERs(3)</h3>
            <h4>ALM11.52 | UTF11.53 | ALM12.5{{}}</h4>
        </div>
        
         <div class="Crs">
        	<h3>Support Cases(8)</h3>
            <h4>ALM11.52 | UTF11.53 | ALM12.5{{}}</h4>
        </div>
  </ion-content>
</ion-view>
