<ion-modal-view>
  <ion-header-bar style="background:#DC5353;">
  <!--
    <h1 class="title"> <img class="title-image" src="img/head_logo.png" /></h1>
   -->
    <div class="buttons" >
      <button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content style="background-color:#fff9f1">
  
      <div class="searchInput" align="center">
      		 <div class="searchInputDiv">

                    <div >
						<div class="videoWrapper">
							<iframe width="560" height="349" src="{{VideoLink}}" frameborder="0" allowfullscreen></iframe>
						</div>						
                    </div>

             </div>
      </div>  
  
  

  </ion-content>
</ion-modal-view>
